@font-face {
  font-family: "BureauGrotesque ThreeSeven";
  src: url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1");
  src: url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1#iefix") format("embedded-opentype"), url("//cloud.webtype.com/webtype/ff/1/a9dbf83e-dbd3-4af7-a477-d7bb61217584") format("truetype"), url("//cloud.webtype.com/webtype/ff/3/47db61be-d2bf-44a3-8685-faa6ffeb0d5c") format("woff");
  font-style: normal;
  font-weight: normal;
}
/*  Mixins from the Albion College style sheet */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.link-arrow:after {
  content: ' \00BB';
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
#mailto-window {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.gold {
  color: #d69d00;
}
.purple {
  color: #592041;
}
.menu-purple {
  color: #371324;
}
.white {
  color: #ffffff;
}
.sky-blue {
  color: #6dc6e7;
}
.grey {
  color: #d7d2cb;
}
.yellow {
  color: #ffbb00;
}
.gold-bg {
  background: #d69d00;
}
.purple-bg {
  background: #592041;
}
.white-bg {
  background: #ffffff;
}
.sky-blue-bg {
  background: #6dc6e7;
}
.grey-bg {
  background: #f3f3f3;
}
.yellow-bg {
  background: #ffbb00;
}
.georgia {
  font-family: Georgia, Times, serif;
}
.impact {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.arial {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}
/* Basic Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #685c53;
}
button,
input,
select,
textarea {
  color: #371324;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
body {
  background: #ffffff;
  color: #685c53;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
body:after {
  content: '';
  background-image: url(//pls.webtype.com/v.gif?ct=41037,41037,41037&r=6721&p=5828&h=9%2bzmK4yl4McbLLpF9BRatw%3d%3d);
}
p {
  margin: 0 0 15px;
  line-height: 131%;
}
a {
  color: #592041;
  cursor: pointer;
}
a:active,
a:hover {
  color: #592041;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Georgia, Times, serif;
  margin: 0 0 18px;
  line-height: inherit;
  color: #592041;
  clear: both;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 36px;
}
h1.posttitle,
.h1.posttitle {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
}
h1.entry-title,
.h1.entry-title {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1.entry-title a,
.h1.entry-title a {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: #ffffff;
}
h2,
.h2 {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  color: #d69d00;
}
h3,
.h3 {
  font-weight: bold;
  font-size: 20px;
}
h4,
.h4 {
  font-weight: normal;
  font-size: 18px;
}
h5,
.h5 {
  font-weight: bold;
  font-size: 16px;
}
h6,
.h6 {
  font-weight: bold;
  font-size: 14px;
}
.hide-text {
  outline: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}
/* End of Albion College mixins */
::selection {
  background: #ffffff;
  color: #d69d00;
  text-shadow: none;
}
:-moz-selection {
  background: #ffffff;
  color: #685c53;
  text-shadow: none;
}
