/*
Theme Name: Twenty Fourteen Child
Theme URI: http://campus.albion.edu/library/wp-content/themes/twentyfourteen-child
Description: Twenty Fourteen Child Theme, matches www.albion.edu styling more closely
Author: Megan Kudzia
Template: twentyfourteen
Version: 1.0.0
Tags: light, dark, right-sidebar, responsive-layout, accessibility-ready
Text Domain: twenty-fourteen-child
*/

/*
For older themes, and themes that do not use wp_enqueue_style() to enqueue their stylesheet, use the following 
line where twentyfourteen is the name of the directory where the theme resides:
*/
@import url('../twentyfourteen/style.css'); /* importing from the parent theme */


/* =Theme customization starts here
---------------------------------------------------------------------------------------- */

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 * 5.0 - Navigation
 * 6.0 - Content
 *   6.1 - Post Thumbnail
 *   6.2 - Entry Header
 *   6.3 - Entry Meta
 *   6.4 - Entry Content
 *   6.5 - Galleries
 *   6.6 - Post Formats
 *   6.7 - Post/Image/Paging Navigation
 *   6.8 - Attachments
 *   6.9 - Archives
 *   6.10 - Contributor Page
 *   6.11 - 404 Page
 *   6.12 - Full-width
 *   6.13 - Singular
 *   6.14 - Comments
 * 7.0 - Sidebar
 *   7.1 - Widgets
 *   7.2 - Content Sidebar Widgets
 * 8.0 - Footer
 * 9.0 - Featured Content
 * 10.0 - Multisite
 * 11.0 - Media Queries
 * 12.0 - Print
 * 13.0 - Additional Styles (added MK 7/14)
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal
 * http://necolas.github.com/normalize.css/ and Blueprint
 * http://www.blueprintcss.org/
 *
 * -----------------------------------------------------------------------------
 */


/* Overriding the text color to make it Albion dark grey 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
   color: #685C53;
}
*/

/* Overriding font stuff color and family body,
button,
input,
select,
textarea {
   color: #371324;
   font-family: Arial, sans-serif;
}
*/


/* Overriding link color 
a {
   color: #592041;
}
*/

/* Overriding link hover color 
a:active,
a:hover {
   color: #592041;
}


/* Overriding headline font family and color 
h1,
h2,
h3,
h4,
h5,
h6 {
   clear: both;
   font-weight: 700;
   margin: 36px 0 12px;
   font-family: Georgia, serif;
   color: #592041;
}
*/

/* Overriding h2 font-family and color 
h2 {
   font-size: 24px;
   line-height: 1;
   font-family: Impact, Arial, Lato, sans-serif;
   color: #d69d00;
}
*/

/* Overriding twentyfourteen selection */
/* Support a widely-adopted but non-standard selector for text selection styles
 * to achieve a better experience. See http://core.trac.wordpress.org/ticket/25898.
 */
 /*
::selection {
   background: #ffffff;
   color: #685c53;
   text-shadow: none;
}
*/
/*
::-moz-selection {
   background: #371324;
   color: #fff;
   text-shadow: none;
}
*/
/* End twentyfourteen selection override */


/**
 * 2.0 Repeatable Patterns
 * -----------------------------------------------------------------------------
 */

/* Buttons */

/* Overriding button background color 
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
   background-color: #d69d00;
} 
*/

/* Overriding button hover/focus color */
/*
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
   background-color: #d69d00;
   color: #fff;
}
*/

/**
 * 4.0 Header
 * -----------------------------------------------------------------------------
 */

/* Overriding site header color 
.site-header {
   background-color: #592041;
}
*/

/* Overriding header-main height 
.header-main {
   min-height: 48px;
   height: 96px;
   padding: 0 10px;

}
*/

/* Search in the header */

/* Overriding header search toggler color 
.search-toggle {
   background-color: #371324;
}
*/

/* Overriding header search toggler hover color 
.search-toggle:hover,
.search-toggle.active {
   background-color: #371324;
}
*/

/* Overriding search toggle top padding */
/* .search-toggle:before {
/*   padding-top: 48px; 
}
*/

/* Overriding header search box color 
.search-box {
   background-color: #371324;
}
*/


/**
 * 5.0 Navigation
 * -----------------------------------------------------------------------------
 */

/* Overriding navigation link background color 
.site-navigation li {
   background-color: #371324;
}
*/

/* Overriding navigation link color 
.site-navigation a {
   color: #d69d00;
}
*/

/* Overriding navigation link hover color & background color 
.site-navigation a:hover {
   color: #371324;
   background-color: #fff;
}
*/

/* Overriding more site navigation link colors 
.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a {
   color: #d69d00;
}
*/

/* Primary Navigation */

/* Overriding primary navigation font size, top padding 
.primary-navigation {
   -webkit-box-sizing: border-box;
   -moz-box-sizing:    border-box;
   box-sizing:         border-box;
   font-size: 18px;
   padding-top: 48px;
}
*/

/* Secondary Navigation */

/* Overriding secondary navigation font size 
.secondary-navigation {
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   font-size: 18px;
   margin: 48px 0;
}
*/

/* Overriding secondary navigation link color 
.secondary-navigation a {
   padding: 9px 0;
   color: #592041;
}
*/

/* Adding secondary navigation link hover behavior 
.secondary-navigation a:hover {
   color: #d69d00;
   background-color: #fff;
}
*/
/* Overriding secondary navigation link hover behavior 
.menu-toggle {
   background-color: #d69d00;
   margin-top: 48px;
}
*/

/* Overriding menu-toggle:before background-color 
.menu-toggle:before {
   color: #371324;
}
*/

/**
 * 6.0 Content
 * -----------------------------------------------------------------------------
 */

/* Overriding content max width 
.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
   margin: 0 auto;
   max-width: 575px;
}
*/

/**
 * 6.2 Entry Header
 * -----------------------------------------------------------------------------
 */

/* Overriding entry-title hover color 
.entry-title a:hover {
   color: #371324;
}
*/

/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */

 /* Overriding entry meta link hover color 
 .entry-meta a:hover {
   color: #371324;
}
*/
/* Overriding cat-links hover color 
.cat-links a:hover {
   color: #371324;
}
 */
/* Tag links style */

/* Overriding link hover color 
.entry-meta .tag-links a:hover {
   background-color: #371324;
}
*/
/* Overriding link hover color 
.entry-meta .tag-links a:hover:before {
   border-right-color: #371324;
}
*/


/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

/* Overriding link hover color 
.entry-content .edit-link a:hover {
   color: #371324;
}
*/
/* Mediaelements */
/* Overriding background color 
.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
   background: #371324;
}
*/
/* Page links
/* Overriding link color 
.page-links a:hover {
   background: #371324;
   border: 1px solid #371324;
}
*/

/**
 * 6.7 Post/Image/Paging Navigation
 * -----------------------------------------------------------------------------
 */

/* Overriding hover link color
 .post-navigation a:hover,
.image-navigation a:hover {
   color: #371324;
}
 */
/* Paging Navigation 
/* Overriding page navigation color 
.paging-navigation .page-numbers.current {
   border-top: 5px solid #371324;
}
*/
/* Overriding page navigation hover link color 
.paging-navigation a:hover {
   border-top: 5px solid #371324;
}
*/

/**
 * 6.14 Comments
 * -----------------------------------------------------------------------------
 */

/* Overriding comment hover link color 
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
   color: #371324;
}
*/
/* Overriding comment reply hover color 
.comment-reply-title small a:hover {
   color: #371324;
}
*/

/**
 * 7.0 Sidebars
 * -----------------------------------------------------------------------------
 */

/* Secondary */

/* Overriding secondary sidebar background color 
#secondary {
   background-color: #371324;
}
*/

/**
 * 7.1 Widgets
 * -----------------------------------------------------------------------------
 */

 /* Primary Sidebar, Footer Sidebar */

 /* Overriding widget hover link color, decoration 
 .widget a:hover {
   color: #371324;
   text-decoration: underline;
}
*/
/* Overriding sidebar widget button color 
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
   background-color: #371324;
}
*/
/* Overriding widget input background color 
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus {
   background-color: #371324;
}
*/
/* Overriding widget title hover color 
.widget-title a:hover {
   color: #371324;
}
*/
/* Calendar Widget*/

/* Overriding widget calendar tbody link color 
.widget_calendar tbody a {
   background-color: #371324;
}
*/
/* Overriding widget calendar tbody link hover color 
.widget_calendar tbody a:hover {
   background-color: #371324;
}
*/
/* Ephemera Widgets */

/* Overriding ephemera widget hover link color 
.widget_twentyfourteen_ephemera .entry-meta a:hover {
   color: #371324;
}
*/

/**
 * 7.2 Content Sidebar Widgets
 * -----------------------------------------------------------------------------
 */

/* Overriding sidebar widget link color 
 .content-sidebar .widget a {
   color: #371324;
}
*/

/* Overriding sidebar widget link hover color, adding underline 
.content-sidebar .widget a:hover {
   color: #371324;
   text-decoration: underline;
}
*/
/* Overriding sidebar widget button color 
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
   background-color: #371324;
}
*/
/* Overriding sidebar widget button hover and focus color 
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus {
   background-color: #371324;
}
*/
/* Overriding sidebar widget title colors 

.content-sidebar .widget .widget-title {
   border-top: 5px solid #592041;
   color: #685C53;
}

/* Overriding sidebar widget title hover color 
content-sidebar .widget .widget-title a:hover {
   color: #371324;
}
*/

/* Ephemera widget */

/* Overriding sidebar widget ephemera link hover color 
.content-sidebar .widget_twentyfourteen_ephemera .entry-meta a:hover {
   color: #371324;
}
*/

/**
 * 8.0 Footer
 * -----------------------------------------------------------------------------
 */

/* Overriding footer background color
 .site-footer {
   background-color: #371324;
}
*/
/* Overriding footer info hover color 
.site-info a:hover {
   color: #371324;
}
*/

/**
 * 9.0 Featured Content
 * -----------------------------------------------------------------------------
 */

 /* Overriding featured content link hover color 
 .featured-content a:hover {
   color: #371324;
}
*/
/* Slider */

/* Override slider control hover color 
.slider-control-paging a:hover:before {
   background-color: #371324;
}
*/
/* Override slider paging hover color 
.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
   background-color: #371324;
}
*/
/* Override slider direction navigation hover link color 
.slider-direction-nav a:hover {
   background-color: #371324;
}
*/
/**
 * 11.0 Media Queries
 * -----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */

/* Overriding @media screen padding 
@media screen and (min-width: 783px) {
   .header-main {
      /* padding-right: 0; 
   }
*/
   /* Primary Navigation */

/* Overriding primary navigation to increase font size, change font-family, increase weight 
   .primary-navigation {
      font-size: 16px;
      font-family: Impact, Arial, sans-serif;
      font-weight: bold;
   }*/

/* Overriding primary navigation ul background color 
   .primary-navigation ul ul {
      background-color: #371324;
   }
*/
/* Overriding primary navigation li hover color 
   .primary-navigation li:hover > a,
      .primary-navigation li.focus > a {
         background-color: ;
         color: #d69d00;
      }
*/
/* Overriding privary navigation hover color 
   .primary-navigation ul ul a:hover,
   .primary-navigation ul ul li.focus > a {
      background-color: #fff;
      color: #371324;
      font-weight: bold;
   }
}
*/
/* Overriding background color */
/*@media screen and (min-width: 1008px) {
   .site:before {
      background-color: #592041;
   }*/

/* Overriding secondary navigation colors 
      #secondary {
      background-color: #fff;
      color: #371324;
   }
*/
/* Overriding secondary navigation font 
      .secondary-navigation {
      font-size: 13px;
      font-weight: bold;
}
*/
/* Overriding secondary navigation li background 
   .secondary-navigation li {
      background-color: #fff;
   }
*/
/* Overriding secondary navigation ul background 
   .secondary-navigation ul ul {
      background-color: #fff;
   }
*/
/* Overriding secondary navigation li hover link color 
   .secondary-navigation li:hover > a,
   .secondary-navigation li.focus > a {
      background-color: #fff;
      color: #592041;
   }
*/
/* Overriding secondary navigation, second level ul hover link color 
   .secondary-navigation ul ul a:hover,
   .secondary-navigation ul ul li.focus > a {
      background-color: #fff;
      color: #592041;
   }
*/

/**
 * 13.0 Additional Styles
 * -----------------------------------------------------------------------------
 */
/*
.home #newsearch {
  width: 100%;
  margin: 0 auto;
  clear: left;
}

.home #newsearch .searchback {
  text-align: left;
}


.home #asklib {
  width: 100%;
  margin: 0 auto 3%;
}
*/
/*
.searchback ul {
  list-style-type: none;
}

.searchback li {
  float: left;
}
*/

/* From www.albion.edu */
/*
.featured-images .jphoto-img-desc {
  top: 0;
}
.featured-images .jphoto-img-desc span {
  position: relative;
  display: table-cell;
  height: 108px;
  width: 220px;
  vertical-align: middle;
}
/*
.featured-images .jphoto-img-desc h3{
  /* display: inline-block; */
  /*
  text-align: center;
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 161.6%;
  font-family: Impact, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px;
}
/*
.featured-images .jphoto-img-desc a {
  text-decoration: none;
}
/*
#slides {
  display: none;
}
*/
/*
.item-content .jps-holder {
  margin: 0 0 20px;
}
/*
.featured-images .jphoto-img-desc h4 {
  font-size: 108%;
  font-weight: bold;
}
/*
#main #content .jphoto-img {
  position: relative;
}
#main #content .jphoto-img .jphoto-img-desc {
  position: absolute;
  color: #ffffff;
}

#main #content .jphoto-img .jphoto-img-desc a {
  color: #ffffff;
}

#main #content .landing-page h1,
#main #content #news-events h1,
#main #content .jphoto-page h1 {
  font-family: Georgia, Times, serif;
  text-transform: none;
}

#main #right .item-page .content-top-modules .jphoto-img-desc {
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#main #right .item-page .content-right-modules {
  display: inline;
  float: left;
  width: 220.00000000000003px;
  margin: 0 10px;
}

#main #right .item-page .content-right-modules .jphoto-img {
  margin-bottom: 20px;
}
#main #right .item-page .content-right-modules .jphoto-img h3 {
  font-size: 27px !important;
}

#main #right .item-page .content-bottom-modules .featured-images .jphoto-img {
  display: inline;
  float: left;
  width: 220.00000000000003px;
  margin: 0 10px;
  margin-bottom: 20px;
}

#main #right .item-page .content-bottom-modules .featured-images .jphoto-img h3 {
  font-size: 27px;
}

#main #right .item-page .content-bottom-modules .featured-images.institutes-and-centers .jphoto-img h3 {
  font-size: 24px;
}
*/
/*
#main #right section .content-right-modules,
#main #right .categories-list .content-right-modules,
#main #right .archive .content-right-modules {
  display: inline;
  float: left;
  width: 220.00000000000003px;
  margin: 0 10px;
}
*/
/*
#main #right section .content-right-modules .jphoto-img,
#main #right .categories-list .content-right-modules .jphoto-img,
#main #right .archive .content-right-modules .jphoto-img {
  margin-bottom: 20px;
}
*/
/*
#main #right section .content-right-modules .jphoto-img h3,
#main #right .categories-list .content-right-modules .jphoto-img h3,
#main #right .archive .content-right-modules .jphoto-img h3 {
  font-size: 27px !important;
}
*/
/*
#slides {
  display: none;
}

.item-content .jps-holder {
  margin: 0 0 20px;
}
*/
/* End of CSS from www.albion.edu */

/*#basictable {
  width: 90%;
  display: inline-block;
}*/

/*.basictable h1 {
  font-size: 1.5em;
  color: #000000;
  line-height: 1.7em;
  padding: 0 5px;
  margin: 0 0 15px;
  background-color: #C59217;
  background-position: top left;
  background-repeat: repeat-x;
}*/

/*.basictable th {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.7em;
  padding: 0 5px;
  margin: 0 0 15px;
  background-color: #C59217;
  background-position: top left;
  background-repeat: repeat-x;
}*/
/*
.unstyledlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
*/
/*
#merchandise {
  width: 100%;
  height: 270px;
  margin: 10px;
  clear: both;
  overflow: hidden;
}
*/
/*
#merchandise.puzzle_left {
  width: 40%;
  display: inline-block;
  float: left;
  position: absolute;
  padding: 10px;
}
/*
#merchandise.puzzle_middle {
  width: 40%;
  display: inline-block;
  float: right;
  position: absolute;
  padding: 10px;
}

#merchandise.magnet_left {
  width: 40%;
  display: inline-block;
  float: left;
  position: absolute;
  padding: 10px;
}
*/
/*
#merchandise.magnet_middle {
  width: 40%;
  display: inline-block;
  float: right;
  position: absolute;
  padding: 10px;
}
*/
/*
.container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.item li {
  order: 1;
  flex-grow: 1 1 auto;
  width: 220px; 
}

.item h3 {
  font-size: 27px;
  display: inline-block;
}
*/

/*
.link-arrow {
    font-family: impact, sans-serif;
    color: #ffffff;
    ::hover {
    text-decoration: underline;
    }
}
*/

/* overriding the link color styles from the Parent Theme 
** actually I think I took care of this further up **
#secondary a:hover{
    color: #d69d00;
}
*/

/* From original Suffusion */
/*
.home #menus-list {
  width: 100%;
  margin: auto;
  clear: both;
  overflow: hidden;
  position: relative;
  text-align: left;
  height: 310px;
}
*/

/*
.home #menus-list .menus-item {
  height: 100%;
  width: 268px;
  overflow: hidden;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  border: 1px grey solid;
  border-width: 1px 0px 0px 1px;
}
*/

/*
.home #menus-list .menus-item p {
  padding: 0 5px;
}
*/

/*
.home #menus-list .menus-item h3 {
  font-family: Georgia, Times, serif;
  color: #592041;
  padding: 8px;
  margin: 0 0 15px;
  background: #f3f3f3;
}
*/

/*
.home #menus-list .menus-item-center {
  float: left;
  position: absolute;
  left: 282px;
}
*/

/*
.home #menus-list .menus-item-right {
  float: left;
  position: absolute;
  left: 564px;
}
*/

/* 
#newsearch {
   width: 600px;
   margin: 0 auto 30px;
} */

/* 
div.searchback {
   text-align: center;
} */