
/*
Theme Name: Twenty Fourteen-Child
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team, Megan Kudzia
Template: twentyfourteen
Description: Responsive website theme for Albion College library, using Albion College web fonts, colors, design scheme. 
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url('../twentyfourteen/style.css'); /* importing from the parent theme */
@import url('parent-style.css'); /* importing my previous work on this theme */
@import url('mixins-and-fonts.less'); /* importing mixins from the Albion College Style Sheet and Fonts */
@import url('content-styles.less'); /* importing content and additional styles */

body {
  .site {
    max-width: none;
    &:before {
      display: none;
    }
  }
  .site-header {
    max-width: none;
  }
  #primary-navigation.site-navigation {
    a:hover {
      color: @gold;
    }
  }
  .site-footer, .site-info a:hover {
    background-color: @menu-purple;
  }
  .entry-title {
    a:hover {
      color: @menu-purple;
    }
    #post-88 {
      header.entry-header {
        display: none;
      } 
    } 
  }
  .entry-meta, .cat-links a:hover {
    color: @menu-purple;
  }
  .entry-meta .tag-links a:hover {
    background-color: @menu-purple;
  }
  .entry-meta .tag-links a:hover:before {
    border-right-color: @menu-purple;
  }
  .hentry .mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: @menu-purple;
  }
  .page-links a:hover {
    background-color: @menu-purple;
    border: 1px solid @menu-purple;
  }
  .featured-content a:hover {
    color: @menu-purple;
  }
  .promozones {
    clear: both;
    ul.jphoto-img {
      list-style: none;
    }
    ul.jphoto-img.container p {
      padding-left: 10px;
    }
    ul.jphoto-img li {
      margin: 10px;
      float: left;
      span {
        position: relative;
        display: table-cell;
        height: 108px;
        width: 220px;
        vertical-align: middle;
        text-align: center;
        a {
          text-decoration: none;
          font-size: 27px;
        }
      }
    }
  }
  a.link-arrow {
    .impact();
    color: @white;
    &:hover {
      text-decoration: underline;
    }
  }
  // h2 {
  //   color: @gold;
  //   .impact();
  //   font-size: 24px;
  //   line-height: 1;
  //   text-transform: uppercase;
  // }
  // h3 {
  //   color: @gold;
  //   .impact();
  //   font-size: 24px;
  //   line-height: 1;
  //   text-transform: uppercase;
  // }
  button, button:hover, button:focus,
  .button, .button:hover, .button:focus, 
      input[type="button"],
      input[type="reset"],
      input[type="submit"],
      input[type="button"]:hover, input[type="button"]:focus,
      input[type="reset"]:hover, input[type="reset"]:focus,
      input[type="submit"]:hover, input[type="submit"]:focus {
        background-color: @gold;
        color: @white;
      }
  .menu-toggle {
    background-color: @gold;
    margin-top: 48px;
    &:before {
      color: @menu-purple;
    }
  }
  .search-toggle {
    margin: 48px 40px 0 0;
  }
  .search-toggle,
  .search-toggle:hover,
  .search-toggle.active {
    background-color: @menu-purple;
    &:before {
     color: #fff;
     font-size: 20px;
     margin-top: 14px;
    }
  }
  .content-sidebar .widget {
    a {
      color: @menu-purple;
    }
    a:hover {
      color: @menu-purple;
      text-decoration: underline;
    }
    .widget-title {
      border-top: 5px solid @menu-purple;
      color: @purple;
    }
  }
  .search-box.search-field {
    placeholder: "Search the library site..."
  }
  #main {
    padding: 0 10px;
    #main-content {
      #primary {
        padding-top: 15px;
        .site-content {
          margin-left: 20%;
          .entry-content {
            max-width: initial;
          }
          @media screen and (min-width: 673px) and (max-width: 1009px)
          {
            margin-right: 0px;
          }
          @media screen and (max-width: 1009px) {
            margin-left: 0px;
          }
          article {
            @media screen and (max-width: 1009px) {
            margin: 0px;
            max-width: 2/3*100%;
            }
          }
        }
      }
    }
    #primary.content-area {
    // padding-top: 20px; 
      margin: 0px;
      .content-sidebar.widget-area {
        aside {
          margin-top: 15px;
          h1.widget-title {
            margin: 0px;
          }
          .widget {
            margin-bottom: 0px;
          }
          .widget h3 {
            margin-top: 0px;
          }
        }
      }
    }
  }
  .entry-content {
    margin: 0px;
    max-width: initial;
    .edit-link {
      a:hover {
        color: @menu-purple;
      }
    }
    #summonsearch {
      display: block;
      width: 100%;
      height: 35px; 
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 50px;
      clear: both;
      img.leftAlign {
        @media screen and (max-width: 1009px) {
          display:none;
        }
          width: 35%;
          min-width: 215px; 
          float: left;
      }
      form.summon-search-widget {
        height: 40px;
        padding-bottom: 0;
        width: 50%;
        float: left;
        @media screen and (max-width: 1009px) {
          float: none;
          width: 100%;
        }
        .summon-search-box input {
          float: left;
          display: inline-block;
        }
      }
    }
    #basictable {
      width: 90%;
      background-color: @white;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
        tr {
          thead {
            background-color: @menu-purple;
            color: @white;
          }
          th {
            background-color: @purple;
            color: @gold;
              h2 {
                align: center;
                vertical-align: middle;
              }
              h3 {
                .impact();
                color: @gold;
            }
          }
        .even {
          background-color: @grey;
        }
      }
    }  
  }
  header.site-header {
    background-color: @purple;
    border-bottom: 5px solid @gold;
    .header-main {
      min-height: 48px;
      height: 96px;
      padding: 0 10px; 
      }
      /* #primary-navigation.site-navigation.primary-navigation {
        .menu-top-navigation-container {
          &:selection {
            background: @white;
            color: @dark-grey;
            text-shadow: none;
            }
          &:-moz-selection {
            background: @white;
            color: @dark-grey;
            text-shadow: none;
          }
        }
      }
      
    }
   /* .entry-content,
    .site-content.entry-summary,
    .site-content.entry-meta,
    .page-content {
      // margin: 0 auto;
      // max-width: 575px; 
    } */
    .entry-header {
      margin-right: 0px;
      @media screen and (min-width: 1218px) {
        padding-left: 5px;
      }
    }
  }  
  #main {
    #content {
      .jphoto-img {
        position: relative;
        .jphoto-img-desc {
          position: absolute;
          color: @white;
          a {
            color: @white;
          }
        }
      }
      .landing-page h1, #news-events h1, .jphoto-page h1 {
        font-family: Georgia, Times, serif;
        text-transform: none;
      }
    }
    #right {
      section {
        .content-right-modules {
          display: inline;
          float: left;
          width: 220.00000000000003px;
          margin: 0 10px;
        }
        .jphoto-img {
          margin-bottom: 20px;
          h3 {
            font-size: 27px !important;
          }
        }
      }
      .item-page {
        .content-top-modules {
          .jphoto-img-desc {
              top: 0;
              padding: 20px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
          }
        }
        .content-right-modules {
          display: inline;
          float: left;
          width: 220.00000000000003px;
          margin: 0 10px;
          .jphoto-img {
            margin-bottom: 20px;
            h3 {
              font-size: 27px !important;
            }
          }
        }
        .content-bottom-modules {
          .featured-images {
            .jphoto-img {
              display: inline;
              float: left;
              width: 220.00000000000003px;
              margin: 0 10px;
              margin-bottom: 20px;
              h3 {
                font-size: 27px;
              }
            }
          }
        }
        .featured-images.institutes-and-centers {
          .jphoto-img {
            h3 {
              font-size: 24px;
            } 
          }
        }
        .categories-list {
          .content-right-modules {
            display: inline;
            float: left;
            width: 220.00000000000003px;
            margin: 0 10px;
            .jphoto-img {
              margin-bottom: 20px;
              h3 {
                font-size: 27px !important;
              }
            }
          }
        }
        .archive {
          .content-right-modules {
            display: inline;
            float: left;
            width: 220.00000000000003px;
            margin: 0 10px;
            .jphoto-img {
              margin-bottom: 20px;
              h3 {
                font-size: 27px !important;
              }
            }          
          }
        }
      }
    }
  }
  #slides {
    display: none;
  }
  .item-content .jps-holder {
    margin: 0 0 20px;
  }
  .featured-images {
    .jphoto-img-desc {
      top: 0;
      a {
        text-decoration: none;
      }
      h3 {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #ffffff;
        font-size: 161.6%;
        font-family: Impact, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      h4 {
        font-size: 108%;
        font-weight: bold;
      }
      span {
        position: relative;
        display: table-cell;
        height: 108px;
        width: 220px;
        vertical-align: middle;
      }
    }
  }
  .item-content {
    .jps-holder {
      margin: 0 0 20px;  
    }
  }
  #merchandise {
    width: 100%;
    height: 270px;
    margin: 10px;
    clear: both;
    overflow: hidden;
  }
  #merchandise.puzzle_middle, #merchandise.magnet_middle {
    width: 40%;
    display: inline-block;
    float: right;
    position: absolute;
    padding: 10px;
  }
  #merchandise.magnet_left, #merchandise.puzzle_left{
    width: 40%;
    display: inline-block;
    float: left;
    position: absolute;
    padding: 10px;
  }
  #secondary { 
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid @dark-grey;
    position: relative;
    z-index: 2;
    background-color: @white;
    padding: 15px 0px 0px 0px;
    @media screen and (min-width: 673px) {
      padding: 0px;
    }
    @media screen and (min-width: 1008px) {
      background-color: @white;
      color: @purple;
      border: 0;
      clear: none;
      float: left;
      margin: 0 0 0 -100%;
      min-height: 100%;
      width: 20%;
    }
    .secondary-navigation {
      // margin: 48px 0 0 0;
      // padding: 0 0 48px 0;
      font-size: 13px;
      font-weight: bold;
      width: 100%;
      margin: 0;
      @media screen and (max-width: 1009px) {
        margin: 48px 0 48px 0;
      }
      li, ul ul {
        background-color: @white;
      }
      ul.menu {
        li {
          background-color: @white; 
          a {
            color: @purple;
            padding: 9px 0;
            text-transform: capitalize;
            font-size: 123.1%;
            font-weight: bold;
            color: @purple;
            &:hover, &:active, &:focus {
              color: @gold;
            }
            @media screen and (min-width: 1080px) {
              &:hover>ul, &:focus>ul {
                left: 100%;
                position: absolute;
              }
            }
            &:after {
              right: 0px;
              margin-left: 5px;
            }
            @media screen and (min-width: 1008px) {
              color: @purple;
            }
          }
        }
      }
    }
    .secondary-navigation ul ul a:hover, .secondary-navigation ul ul li.focus > a, 
    .secondary-navigation li:hover > a, .secondary-navigation li.focus > a {
      background-color: @white;
      color: @purple;
    } 
  }
  .slider-control-paging {
    a:hover:before, .slider-active:before, .slider-active:hover:before {
      background-color: @menu-purple;
    }
  }
  .slider-direction-nav a:hover {
    background-color: @menu-purple;
  }
  .site-title {
    clip: initial;
    a {
      background: url('sprites.png') no-repeat 0 -27px;
      height: 87px;
      width: 260px;
      display: block;
      float: left;
      .hide-text();
    }
  }
  .search-box {
    background-color: @menu-purple;
  }
  .site-navigation {
    .current_page_item a {
      font-weight: normal;
      color: @gold;
    }
    .secondary-navigation {
      ul#menu-principal-navigation {
        margin: 0 0 0 35px;
      } 
    } 
    .current_page_item, 
    .current_page_ancestor, 
    .current-menu-item, 
    .current-menu-ancestor {
      a {
        color: @gold;        
      }
    }
    ul {
      ul {
        padding-left: 20px;
        margin-left: 0px;
      }
    }
  }
  .primary-navigation {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    padding-top: 48px;
    li {
      background-color: @menu-purple;
      &:hover > a {
        background-color: @white; 
      }
      .focus > a {
        background-color: @white;
        color: @menu-purple;
        font-weight: bold;
      }
    }
    // ul {
    //   ul {
    //     a:hover, li.focus >a {
    //       background-color: @white;
    //       color: @menu-purple;
    //       font-weight: bold;
    //     }
    //   }
    // }
    a {
      color: @gold;
      .impact();
    }
  }
  .post-navigation, .image-navigation, {
    a:hover {
      color: @menu-purple;
    }
  }
  .paging-navigation {
    .page-number.current, a:hover {
      border-top: 5px solid @menu-purple;  
    }
  }
  .comment-author a:hover, .comment-list .pingback a:hover,
  .comment-list .trackback a:hover, .comment-metadata a:hover, .comment-reply-title small a:hover {
    color: @menu-purple;
  }
  #content-sidebar {
    .content-sidebar {
      .widget {
        a { 
          color: @menu-purple; 
          a:hover {
            text-decoration: underline;
          }
        }
      }
    } 
  }     
  button, button:hover, button:focus,
  .button, .button:hover, .button:focus, 
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
      input[type="button"]:hover, input[type="button"]:focus,
      input[type="reset"]:hover, input[type="reset"]:focus,
      input[type="submit"]:hover, input[type="submit"]:focus {
        background-color: @gold;
      }
  .widget button,
  .widget .button,
  .widget input[type="button"],
  .widget input[type="reset"],
  .widget input[type="submit"],
  .widget input[type="button"]:hover,
  .widget input[type="button"]:focus,
  .widget input[type="reset"]:hover,
  .widget input[type="reset"]:focus,
  .widget input[type="submit"]:hover,
  .widget input[type="submit"]:focus {
    background-color: @menu-purple;
  }
  .widget-title {
    border-top: 5px solid @purple;
    color: @dark-grey;
    &:hover {
      color: @purple;
    }
    a:hover {
      color: @menu-purple;
    }
  }
  .widget_calendar tbody a {
    background-color: @menu-purple;
  }
  .widget_twentyfourteen_ephemera .entry-meta a:hover {
    color: @purple;
  }
  @media screen and (min-width: 1px) {
    #primary-navigation.primary-navigation {
      li.focus > a {
        background-color: @white;
        color: @gold;
      }
    }
  }
}  

